In [1]:
import pandas as pd
import os
import re

# === ƒê·ªçc d·ªØ li·ªáu g·ªôp ===
file_path = os.path.join(os.getcwd(), "BaoCao_TongHop_Financials.xlsx")
df = pd.read_excel(file_path)

In [8]:
# ƒê·ªïi t√™n c·ªôt th·ªùi gian
df = df.rename(columns={0: "Period"})

# Gi·ªØ l·∫°i k·ª≥ Q4
df_q4 = df[df["Period"].astype(str).str.startswith("Q4/")].copy()
df_q4["Year"] = df_q4["Period"].str.extract(r"Q4/(\d{4})").astype(int)

# Ch·ªâ l·∫•y c√°c d√≤ng c√≥ ch·ªâ ti√™u c·∫ßn thi·∫øt
df_q4 = df_q4[df_q4["1. Cho vay v√† cho thu√™ t√†i ch√≠nh kh√°ch h√†ng"].notna()]

# L·∫•y ƒë√∫ng c·ªôt c·∫ßn thi·∫øt
df_q4 = df_q4[["Bank", "Year", "1. Cho vay v√† cho thu√™ t√†i ch√≠nh kh√°ch h√†ng"]]
df_q4 = df_q4.rename(columns={"1. Cho vay v√† cho thu√™ t√†i ch√≠nh kh√°ch h√†ng": "Value"})

# N·∫øu c√≥ tr√πng Bank-Year th√¨ ch·ªâ gi·ªØ d√≤ng ƒë·∫ßu ti√™n
df_q4 = df_q4.drop_duplicates(subset=["Bank", "Year"])

# T√≠nh tƒÉng tr∆∞·ªüng t√≠n d·ª•ng
df_q4 = df_q4.sort_values(["Bank", "Year"])
df_q4["Growth_rate"] = df_q4.groupby("Bank")["Value"].pct_change() * 100

# K·∫øt qu·∫£ cu·ªëi c√πng
df_q4_result = df_q4.dropna(subset=["Growth_rate"]).reset_index(drop=True)

# In danh s√°ch ng√¢n h√†ng c√≥ ƒë·ªß d·ªØ li·ªáu
banks_with_growth = df_q4_result["Bank"].unique()
print("üìå C√°c ng√¢n h√†ng c√≥ ƒë·ªß d·ªØ li·ªáu ƒë·ªÉ t√≠nh tƒÉng tr∆∞·ªüng t√≠n d·ª•ng:\n")
print(sorted(banks_with_growth.tolist()))

# Hi·ªÉn th·ªã k·∫øt qu·∫£
df_q4_result

üìå C√°c ng√¢n h√†ng c√≥ ƒë·ªß d·ªØ li·ªáu ƒë·ªÉ t√≠nh tƒÉng tr∆∞·ªüng t√≠n d·ª•ng:

['ACB', 'CTG', 'HDB', 'MBB', 'STB', 'TCB', 'VCB', 'VPB']

    Bank  Year     Value  Growth_rate
0    ACB  2008   34833.0    10.806082
1    ACB  2009   62358.0    79.019895
2    ACB  2010   87195.0    39.829693
3    ACB  2011  102809.0    17.906990
4    ACB  2012  102802.0    -0.006809
..   ...   ...       ...          ...
103  VPB  2020  290816.0    13.077019
104  VPB  2021  355281.0    22.166937
105  VPB  2022  438338.0    23.377833
106  VPB  2023  566271.0    29.185925
107  VPB  2024  692876.0    22.357670

[108 rows x 4 columns]